<script lang="ts">
    import Footer from "$components/Footer.svelte";
</script>

<main>
    <slot />
</main>
<Footer />

<style lang="scss" global>
    @use "../style/global-styles";
    @use "../style/global-themes";
</style>
