<script lang="ts">
    import Transition from "$components/transition.svelte";
    import Card from "$components/Card.svelte";
    import SquareCard from "$components/SquareCard.svelte";
    import Header from "$components/Header.svelte";
</script>

<Transition name="scale">
    <Header
        h1="time.vote"
        subtitle="Check when your friends' free time matches!"
    />
    <section>
        <img
            src="https://s2.qwant.com/thumbr/474x205/4/0/ca1c74bb4052e90130de5efc8f86587af1cf6d353da751386c05416b7d1918/th.jpg?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.WwY9A07MnO7jpuXicyyKPAHaDN%26pid%3DApi&q=0&b=1&p=0&a=0"
            alt=""
        />

        <ol>
            <li>To get started, click the button below</li>
            <li>When the calendar shows up, select a time range</li>
            <li>
                Submit it, and you'll be given a link. Share the link with your
                friends, and start planning!
            </li>
        </ol>

        <a href="/create" class="button-like">Add Poll</a>
    </section>

    <!-- 
        <SquareCard icon="user" link="login">Login</SquareCard>
        <SquareCard icon="envelope" link="mailto:mqnrayur@guerrillamailblock.com?subject=Nice website!">Contact</SquareCard>
        <SquareCard icon="cog" link="settings">Settings</SquareCard>
        <SquareCard icon="question" link="about">About</SquareCard>
        -->
</Transition>

<style lang="scss">
    section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;

        img {
            width: min(90%, 40rem);
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        ol {
            font-size: 1.1rem;
            li {
                margin-bottom: 0.5rem;
            }
        }

        a {
            margin: 1rem auto 0 2rem;
        }
    }
</style>
