<section>
    <slot />
</section>

<style lang="scss">
    section {
        margin: 0.5rem;
        padding: 1rem;
        width: min(400px, 100%);
        border-radius: 1rem;
        box-shadow: 0.2rem 0.2rem 1rem var(--shadow);
        background: var(--canvas);
        transition: all 0.3s;
        cursor: default;

        &:hover {
            transform: scale(1.05) translateY(-5%);
        }
    }
</style>
