<footer>
    <nav>
        <a href="/create">New Poll</a>
        <a href="/about">About</a>
        <a target="_blank" href="https://gitlab.com/another-sapiens/time.vote">
            GitLab
        </a>
    </nav>
</footer>

<style lang="scss">
    @use "../style/variables" as v;

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        width: 100%;
        height: v.$footer-height;

        background: var(--accent);
        a {
            margin: 0 1rem 0;
            text-decoration: none;
            color: var(--accentFont);
        }
    }
</style>
