<script lang="ts">
    export let h1: string;
    export let subtitle = "";
</script>

<header>
    <h1>{h1}</h1>
    <p id="subtitle">{subtitle}</p>
    <!-- <hr /> -->
</header>

<style lang="scss">
    header {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;

        word-break: normal;
        hyphens: auto;

        padding: 1rem;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 0.1rem;
    }
    #subtitle {
        place-self: end start;

        min-height: 2rem;
        min-width: 50%;
        margin-bottom: 0.5rem;

        font-size: 1.5rem;
        font-weight: 500;
    }
    /* hr {
        height: 0.25rem;
        background: var(--font);
        border-radius: 1rem;
    } */
</style>
