<script lang="ts">
    //
</script>

<section>
    <slot />
</section>

<style lang="scss">
    @use "../style/variables" as v;

    section {
        padding: 3rem;
        border-radius: v.$input-group-border-radius;
        background-color: var(--primary);
        margin-bottom: 2rem;
    }
</style>
