/** 
 * These styles are not solely included in ...
 * - One ...Calendar because at some point in time multiple different calendars will use the same style
 * - `styles.scss` because the calendar-styling isn't needed on every page.
 */

@use "variables" as v;

$cal-padding: 0.5rem;
$margin-bottom: 2rem;
$scroll-view-border-radius: 0.5rem;

#calendar {
    $background: var(--primary);
    $time-card-width: 4rem;
    $group-border-radius: 0.3rem;
    $section-margin: 0.5rem;
    $card-gap: 1rem;

    position: relative;
    background: $background;
    width: fit-content;
    max-width: 100%;
    margin-bottom: $margin-bottom;
    padding: $cal-padding;
    border-radius: v.$input-group-border-radius;

    #scroll-view {
        background: $background;
        display: flex;
        max-height: 25rem;
        overflow: scroll;
        scroll-snap-type: both mandatory;
        scroll-padding: 1rem 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: $scroll-view-border-radius;
    }

    section {
        display: grid;
        justify-items: center;
        width: 5;
        height: 100%;

        .day-container {
            position: sticky;
            display: flex;
            align-items: stretch;
            top: 0;
            z-index: 10;

            .hide-cards-div {
                // Required to hide cards above the day-card
                background-color: $background;
                border-bottom-left-radius: $group-border-radius;
                border-bottom-right-radius: $group-border-radius;
            }
            .hide-cards-div-margin {
                // Required to hide cards that have grown due to hover when scrolling up
                background-color: $background;
                width: $section-margin;
            }
        }

        .hour-group {
            display: grid;
            margin-top: 1rem;
            gap: 0.25rem;
            scroll-snap-align: start;
            scroll-margin-top: 6.5rem; // Change to fix weird scroll-offsets
        }

        time {
            &:hover[aria-disabled="false"] {
                transform: v.$scale;
            }

            // Styling if `aria-checked==false && aria-disabled==false`
            background: var(--primaryFont);
            color: var(--primary);

            &[aria-checked="true"] {
                background: var(--accent);
                color: var(--accentFont);
            }
            &[aria-disabled="true"] {
                background: var(--primaryFont);
                color: var(--primary);
                opacity: 20%;
            }

            display: grid;
            place-items: center;
            width: $time-card-width;
            cursor: pointer;

            p {
                user-select: none;
                pointer-events: none;
            }

            &.day {
                position: sticky;
                margin-top: 0.5rem;
                padding: 0.5rem;
                border-radius: $group-border-radius;
                height: 6rem;
                box-shadow: 0 0 $section-margin var(--shadow);
                z-index: 20;

                p {
                    font-weight: bold;
                    &.date-num {
                        font-size: xx-large;
                        font-weight: bolder;
                    }
                }
            }

            &.time {
                font-weight: 900;
                height: 3rem;
                transition: all 0.2s;

                p {
                    font-size: 1rem;
                }
                &:nth-child(1) {
                    border-top-left-radius: $group-border-radius;
                    border-top-right-radius: $group-border-radius;
                }
                &:nth-last-child(1) {
                    border-bottom-left-radius: $group-border-radius;
                    border-bottom-right-radius: $group-border-radius;
                }
            }
        }
    }
}
