body {
    // These are the variables that HAVE TO BE SET when creating a new theme.
    // Defaut theme:
    --shadow: black;

    --canvas: whitesmoke;
    --font: black;

    --primary: #6142a1;
    --primaryFont: white;

    --accent: #9a6aff;
    --accentFont: white;

    --error: red;
    --errorFont: white; // Only used in calendar-bottom-pop-up, at the moment.

    &[data-theme="candyland"] {
        --shadow: none;

        --canvas: #ffb6c1;
        --font: black;

        --primary: #b6fff4;
        --primaryFont: #650062;

        --accent: #00ff00;
        --accentFont: black;
    }

    &[data-theme="halloween"] {
        --shadow: orange;

        --canvas: black;
        --font: orange;

        --primary: rgb(255, 94, 0);
        --primaryFont: black;

        --accent: orange;
        --accentFont: black;

        --error: lightyellow;
        --errorFont: black;
    }

    &[data-theme="octopus"] {
        --shadow: black;

        --canvas: #3a95e3;
        --font: #880101;

        --primary: #ffbaf6;
        --primaryFont: #880101;

        --accent: white;
        --accentFont: #880101;
    }
}
