@use "variables" as v;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    // Necessary for keeping the footer at the bottom of the
    // screen / of the content; whichever is further down.
    position: relative;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    background-color: var(--canvas);
    color: var(--font);
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem; // Spacing between content and footer
    margin-bottom: v.$footer-height; // Must be the footer's height, to avoid overlapping

    font-family: Arial, Helvetica, sans-serif;

    // Used to set speed of animations.
    transition: all 0.1s;
}

h1,
.subtitle,
h2 {
    text-align: left;
}

div.input-parent {
    width: 40%;

    margin-bottom: 1rem;
    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    label:not(.button-like),
    p {
        font-size: 1.2rem;
        color: var(--primaryFont);
    }

    input,
    select,
    textarea {
        font-size: 1rem;
        width: 100%;
        padding: 10px 15px;
        background-color: var(--canvas);
        color: var(--font);

        border-radius: 0.2rem;
        //border: 4px solid var(--canvas);
        border: 0;

        &.invalid {
            border: 2px solid var(--error);
        }
    }
    textarea {
        max-width: 100%;
    }

    span[data-felte-reporter-dom-single-message] {
        font-size: 1rem;
        color: var(--primaryFont);
    }
}

button {
    background-color: var(--primary);
    color: var(--primaryFont);

    display: flex;
    place-items: center;
    place-content: center;

    font-family: inherit;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;

    min-width: 6rem;
    min-height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 0.3rem;

    cursor: pointer;

    &:hover {
        transform: v.$scale;
    }
}

.button-like {
    @extend button;

    &.on-primary {
        background-color: var(--canvas);
        color: var(--font);

        &[aria-checked="true"] {
            background-color: var(--accent);
            color: var(--accentFont);
        }
    }
}
