<script lang="ts">
    import Header from "$components/Header.svelte";
    import InputGroup from "$components/InputGroup.svelte";
    import LinkField from "$components/LinkField.svelte";
    import { onMount } from "svelte";

    /**
     * Returns the two ids contained in the URL:
     *
     * 1. The `poll_id`
     * 2. The `admin_id`
     *
     * This function expects an URL like this: `<protocol>//<hostname>:<port>/<poll_id>/<action>/<admin_id>`
     */
    function idsFromURL(): [string, string] {
        const parts = window.location.pathname.split("/");
        const len = parts.length;

        return [parts[len - 3], parts[len - 1]];
        //return ["", ""];
    }

    const domain = "time.vote";

    let pollId = "aBcd3fGh"; // Placeholder unter content is actually loaded
    let adminId = "1jklMn0p"; // Placeholder unter content is actually loaded
    const updateIds = () => {
        [pollId, adminId] = idsFromURL();
    };

    $: voteLink = `${domain}/${pollId}`;
    $: resultsLink = `${domain}/${pollId}/results/${adminId}`;
    $: editLink = `${domain}/${pollId}/edit/${adminId}`;
</script>

<svelte:window on:load={updateIds} />
<svelte:head><title>Poll links</title></svelte:head>

<Header h1="Poll created" />
<InputGroup>
    <LinkField
        labelText="Send this link to your invitees"
        link={voteLink}
        showEmailBtn={true}
    />
    <LinkField labelText="View the poll's results" link={resultsLink} />
    <LinkField labelText="Edit your event" link={editLink} />
</InputGroup>

<style lang="scss">
</style>
