<script lang="ts">
    import Footer from "$components/Footer.svelte";
</script>

<!-- This "{{ theme }}"-template is needed to let the server set the theme. -->

<main>
    <slot />
</main>
<Footer />

<style lang="scss" global>
    @use "../../style/global-styles";
    @use "../../style/global-themes";
</style>
